<div class="headshot">
	<img class="headshot-image" src="${headshot.image}" alt="${headshot.alt}" />
	<div class="name-pane">
		<div class="name">
			<h3>${headshot.name}</h3>
		</div>
		<div class="bio-plus">
			<div data-role="listitem-button" class="team__member-button">
				<div class="team__member-icon w-embed">
					<svg width="100%" height="100%" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M17 0L17 34M34 17H0" stroke="currentcolor" stroke-width="2"></path>
					</svg>
				</div>
			</div>
		</div>
	</div>
	<div class="headshot-info">
		<div class="popup-inner">
			<div class="popup-container">
				<div class="popup-button">
					<div class="popup__button-icon w-embed">
						<svg width="100%" height="100%" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M25.0201 0.979004L12.9993 12.9998M12.9993 12.9998L0.978517 25.0206M12.9993 12.9998L25.0201 25.0206M12.9993 12.9998L0.978516 0.979004" stroke="currentcolor" stroke-width="2"></path>
						</svg>
					</div>
				</div>
				<div class="popup-header">
					<img class="popup-headshot-image" src="${headshot.image}" alt="${headshot.alt}" />
					<div class="popup-name">
						<h3>${headshot.name}</h3>
					</div>
				</div>
				<p class="bio">${headshot.bio}</p>								
			</div>
		</div>
	</div>
</div>
