#articles
    .article-list-item
        max-width: 600px
        margin: 0 auto
        .wp-block-audio
            max-width: fit-content
            margin: 12px auto
        h4
            margin: .5em 0
    .article-list-item__image
        margin: 10px 0
