.template-index
    #map-block
        width: clamp(75%, 300px, 100%)
        max-width: 500px
        margin: 0 auto
        border: 1px solid var(--color-accent)
        padding: 18px
    figure:not(:last-of-type)
        margin-bottom: 30px
    figcaption
        margin-bottom: 18px
